@media (min-width: 1200px) {
    .logo img {
        max-width: 100%;
        height: 70px;
        padding-left: 50px;
    }
    .navlist {
        padding-right: 50px;
    }
    .nav-link {
        font-size: 20px;
        color: white;
        font-size: 18px;
    }
    .container-filter-characters,
    .container-characters,
    .menuBar  {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 767px) {
    .logo img {
        max-width: 100%;
        height: 70px;
        padding: 0;
    }
    .nav {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .btn-menu {
        display: inline-flex;
    }
    .nav-menu {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: rgba(16, 14, 29, 1);
        top: -100vh;
        text-align: center;
        flex-direction: column;
        padding: 0px;
    }
    .nav-list {
        line-height: 50px;
        padding: 0px;
    }
    .nav-link {
        font-size: 20px;
        color: white;
    }
}
@media (min-width: 540px) {
    .container-filter-characters,
    .menuBar {
        flex-flow: row wrap;
        align-items: center
    }.container-filter-characters > *,
    .menuBar > * {
        margin: 0.5rem 0.5rem 0.5rem 0rem;
    }
}
@media (max-width: 559px) {
    .image {
        display: flex;
        justify-content: center;
    }
    .containerModal {
    flex-flow: column wrap;
    }
    .tabs {
        grid-template-columns: 1fr;
    }
}
@media (min-width: 560px) {
    .modalDetails {
        padding-left: 1.5em;
    }
}
