*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    width: 100%;
    min-height: 100vh;
}

body {
    background: #D6E8EB;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.nav {
    background-color: #00283A;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    height: 15vh;
    width: 20vw;
    padding: 4px;
}
.nav-menu {
    display: flex;
    list-style: none;
    margin-right: 30px;
}
.nav-menu li {
    margin: 0 5px;
}
.nav-menu li a {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    display: block;
    color: white;
}
.nav-menu li:hover {
    background-color: rgba(0, 0, 0, .3);
    transition: .4s;
}
.btn-menu {
    margin-right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
}
ul .show {
    top: 65px;
}
.home-main {
    display: flex;
    flex-grow: 1;
    background-image: url(./img/studio_ghibli.jpg);
    background-size: cover;
    position: relative;
    width: 100%;
    min-height: 100%;
    display: block;
}

.home-main:before {
    content: "";
    background: black;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: absolute;
}
input[type=text] {
    border: 1px solid gray;
    border-radius: 8px;
    width: 30%;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
}
input[type="text"]:focus {
    border: 2px solid orange;
    border-radius: 8px;
    outline: none;
}
.button {
    border: 1px solid #00283A;
    border-radius: 8px;
    background-color: #00283A;
    padding: 10px;
    margin-left: 5px;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}
.search  {
    display: flex;
    justify-content: center;
    padding-top: 3%;
    position: relative;
}
.mensaje-error {
    display: none;
    position: relative;
}
.mensaje-correcto {
    display: block;
    position: relative;
}

.welcome-main {
    background-image: url(./img/Image-Studio-ghibli.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    position: relative;
}
.welcome-main::before {
    content: "";
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    opacity: 0.5;
}
.text {
    position: relative;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    padding: 20px 10px;
}
.button-welcome {
    display: flex;
    justify-content: center;
}
.list-title p {
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 0px;
    position: relative;
}
.filter {
    display: flex;
    justify-content: center;
    position: relative;
}
.button-welcome a {
    background-color: #00283A;
    position: relative;
    border: 1px solid #00283A;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    width: 18%;
    padding: 12px;
    margin-top: 12px;
}
#best-films-list, #list-order {
    width: 17%;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 10px;
    margin: 8px 15px;
    cursor: pointer;
    font-size: 1rem;
}
option {
    cursor: pointer;
}
.container-collection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11.875em,1fr));
    row-gap: 1.875em;
    column-gap: 2rem;
    margin: 2.3rem 2rem;
    justify-items: center;
    position: relative;
}
.container-card{
    width: 11.875em;
    border-radius: 10px;
    box-shadow: 0 0 0.313rem white;
    transition: all 0.5s ease;
}
.container-card:hover,
.card-characters:hover{
    box-shadow: 0 0 0.5rem gray;
    transform: translateY(-3%);
}
.characters-home {
    display: none;
}
.image-poster {
    width: 100%;
    height: 16.875em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}
.post-dato {
    background-color: #232323;
    color: white;
    padding: 0.5rem 0.5rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.post-dato .release {
    display: flex;
    justify-content: flex-end;
    text-align: center;
}
.characters {
    padding: 0.5rem 1rem;
}
.container-filter-characters {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    margin-top: 0.5em;
}
.container-filter-characters > * {
    padding: 0.8em;
}
.filter-characters {
    display: flex;
}
.filter-box {
    outline: none;
    width: 100%;
    border-radius: 10px;
    padding: 0.50em;
    color: black;
    font-size: 1em;
    border: 1px solid #eee;
}
.filter-box:focus {
    border: 2px solid orange;
    border-radius: 10px;
}
.container-characters , #showCharacters {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11.875em,1fr));
    row-gap: 2.275em;
    column-gap: 2rem;
    margin: 2rem;
    justify-items: center;
    position: relative;
}
.card-characters {
    width: 11.875em;
    border-radius: 10px;
    box-shadow: 0 0 0.313rem white;
    transition: all 0.5s ease;
}
.image-characters {
    width: 100%;
    height: 12em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}
.description {
    background-color: #232323;
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


footer {
    background-color: #00283A;
    color: white;
    padding: 30px;
}
.footer-text {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}



/* mostrador de detalles de peliculas */


.modal {
    display: block; /* Hidden by default  none tiene que seer*/
    position: relative; /* Stay in place  aqui tiene que ir fixed */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
    /* Black w/ opacity */
}
*/




.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
    box-shadow: 2px 2px 5px #999;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > section {
    max-width: 90vw;
    width: 80vw;
    position: relative;
    margin: 2% auto;
    padding: 10px;
    border-radius: 10px;
    background: rgb(46, 13, 46);
    border: 2.5px solid rgb(83, 52, 77);
}
.modalDialog .close {
    font-family: Arial, Helvetica, sans-serif;
    background:#00283A;
    color: #fff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 70px;
    height: 34px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 20%;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    padding-top: 10px;
}
.close:hover {
    background-color:#edb709;
}

/* dentro de los detalles de peliculas*/

.modalDialog-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.modalDialog-details .pictureMovie {
    margin: 20px 30px;
    align-items: center;
}

.pictureMovie  img {
    box-shadow: 2px  2px 2px 2px rgb(109, 14, 104);
    border-radius: 10%;
}

.sectionDetails .titleFilms {
    padding: 24px 0px 0px;
    font-size: 2rem;
    color:rgb(156, 165, 173);
    font-weight: 700;
    line-height: 1.5rem;
    text-align: left;
}

.sectionDetails .pDescription {
    display: block;
    padding: 10px 10px;
    margin: 1em 3em;
    word-wrap: break-word;
    color: #D6E8EB;
    text-align: justify ;
    overflow:hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sectionDetails .rtScore {
    color:aqua;
    padding: 2px;
    margin: 2.5%;

}
.sectionDetails .rtScore span {
    color: #1a1818;
    background-color: #edb709;
    font-size: 1rem;
    font-weight: 700;
    height: 2rem;
    line-height: 1rem;
    border-radius: 1rem;
    display: inline-block;
    text-align: center;
    padding: 10px;
    vertical-align:middle;
}



.sectionDetails  li{
    color:#D6E8EB;
    display: list-item;
    text-align: -webkit-match-parent;
    list-style: none;
}
.sectionDetails  li strong{
    font-weight: 700;
    color:rgb(136, 134, 127);
}



/*tabs de mostrador de detalles */

#orden {
    position: relative;
}

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap");



.tabsboton {
    max-width: 800px;
    margin: 1rem auto;
    padding: 0 2rem;
    color:rgb(235, 238, 79);
    font-size: 1rem;
    display: flex;
    align-content: center;
    align-items: baseline;
    letter-spacing: 1px;
    transition: 0.5s;
    
}


.tabs {

    background-color:darkgoldenrod;
    font-size: 0.8rem;
    margin: 1rem 2rem;
    text-align: center;
    text-decoration:none;
    border-radius: 20px;
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    border: 1px solid #efefef;
}

.tabs li {
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.45s ease-in-out;
  position: relative;
  
}

.tabs li.active {
  background-color: #eee;
  background-color:rgb(136, 134, 127);;
  font-size: 1rem;
  box-shadow: 0 0 10px rgb(240, 196, 36), 0 0 40px rgb(240, 196, 36), 0 0 80px rgb(240, 196, 36) ;
  transition: 0.5s;
  border-radius:20px ;
}

.tabs li > a {
  text-decoration: none;
  color: #0f0f0f;
}

.tabs-content {
  border: 1px solid #eee;
  border-top: 0;
  position: relative;
}

.tabs-panel {
  padding: 2rem 1rem;
  display: none;
}

.tabs-panel.active {
  display: block;
}

@media (max-width: 480px) {
  .tabs {
    grid-template-columns: 1fr;
  }
}
